span.redcircle {
  	background: red;
	border-radius: 3em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	color: #000;
	display: inline-block;
	font-weight: bold;
	line-height: 1.5em;
	margin-right: 8px;
	text-align: center;
	width: 2em;
	font-size: .9em;
	padding: 0.3em;
}

span.yellowcircle {
	background: #f4f138;
	border-radius: 3em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	color: #000;
	display: inline-block;
	font-weight: bold;
	line-height: 1.5em;
	margin-right: 8px;
	text-align: center;
	width: 2em;
	font-size: .9em;
	padding: 0.3em;
}

span.bluecircle {
  	background: #5178D0;
	border-radius: 3em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.5em;
	margin-right: 8px;
	text-align: center;
	width: 2em;
	font-size: .9em;
	padding: 0.3em;
}


