/* new adding css for chain group function */
table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
	cursor: pointer;
  }
  table.fold-table > tbody > tr.view td:first-child,
  table.fold-table > tbody > tr.view th:first-child {
	position: relative;
	padding-left: 20px;
  }
  table.fold-table > tbody > tr.view:nth-child(4n-1) {
	background: #eee;
  }
  table.fold-table > tbody > tr.view:hover {
	background: #ddd;
  }
  table.fold-table.display.compact.dataTable.no-footer > tbody > tr.view.open {
	background: tomato;
	color: white;
  }
  table.fold-table.display.compact.dataTable.no-footer > tbody > tr.view.open > td.sorting_1, 
  table.fold-table.display.compact.dataTable.no-footer > tbody > tr.view.open > td.sorting_2
  {
	background: tomato;
  }
  table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.odd.open th:first-child:before {
	transform: rotate(-180deg);
	color: #000;
  }
  table.fold-table > tbody > tr.fold {
	display: none;
  }
  table.fold-table > tbody > tr.fold.open {
	display: table-row;
  }
  
  .fold-content {
	padding: .5em;
  }
  .fold-content h3 {
	margin-top: 0;
  }
  .fold-content > table {
	border: 2px solid #ccc;
  }

  
  